<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5" lang="en">
<head>
    <meta charset="UTF-8">
    <title>MakersBnB</title>
</head>
<body>
    <div sec:authorize="isAuthenticated()">
    Hello, you are logged in as <span sec:authentication="principal.attributes['email']"></span>
    </div>

    <div sec:authorize="isAuthenticated()">
        <form th:action="@{/logout}" method="post" id="logout-form" style="display: none;"></form>

        <a href="#" onclick="document.getElementById('logout-form').submit(); return false;">
            Logout
        </a>

    </div>

    <h1> Welcome to MakersBnB</h1>
    <h3 th:text="${nSpaces} + ' spaces are waiting to be discovered'"></h3>
    <h5 th:text="${bookings} + ' bookings were made'"></h5>

    <h4> Recent reviews</h4>
    <ul>
        <li th:each="review : ${reviews}" th:text="${review}"></li>
    </ul>


</body>
</html>